body {
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(270deg, #3a319e 0.38%, #710083 99.88%);
    color: #fff;
    text-align: center;
    display: grid;
    grid-gap: 15px;
    justify-items: stretch;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}
header{
    text-align: center;
    padding: 10px;
}
#logo{
    height: 70px;
}
#admin{
    height: 30px;
}

#content {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: center;
    
}
.item{
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
    position:relative;
    transition: .1s;
    border-radius: 5px;

    
}
.item:hover{
    
    background: rgba(255, 255, 255, 0.8);

}
.h2div{
    left: 20%;
    right: 20%;
    position: absolute;

    bottom: 0px;
    height: calc(100% - 90px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.picdiv{
    display:flex;
  align-items:center;
  justify-content: center;
    width: 120px;
    height: 80px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;

}
h4{
    margin:0;
}
.pic {
    margin-bottom: auto;
    margin-top: auto;
    max-width: 120px;
    max-height: 80px;
}
